In [21]:
import pandas as pd
import numpy as np
import json

El primer paso es importar las librerías

In [22]:
df=pd.read_csv("D:/Documentoss/Carlos/trabajos de la compu gris/Tareas de facultad/Semestre 7/mineria datos/unclean_data1.csv")
df

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723.0,178.0,10.0,855.0,1000.0,760505847.0,886204.0,4834.0,NaN,3054.0,237000000.0,2009.0,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302.0,NaN,563.0,1000.0,40000.0,309404152.0,471220.0,48350.0,NaN,1238.0,300000000.0,2007.0,5000.0,7.1,NaN
2,Spectre?ÿ,602.0,148.0,20.0,161.0,11000.0,200074175.0,275868.0,11700.0,1.0,994.0,245000000.0,2015.0,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813.0,NaN,22000.0,23000.0,27000.0,448130642.0,1144337.0,106759.0,NaN,2701.0,250000000.0,2012.0,23000.0,8.5,NaN
4,"John Carter?ÿ,462,132,""""""475"""""",530,640,730586...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Spider-Man 3?ÿ,392.0,156.0,23.0,4000.0,24000.0,336530303.0,383056.0,46055.0,NaN,1902.0,258000000.0,2007.0,11000.0,6.2,2007.0
6,Tangled?ÿ,324.0,NaN,15.0,284.0,799.0,200807262.0,294810.0,NaN,1.0,387.0,260000000.0,2010.0,553.0,7.8,NaN
7,Avengers: Age of Ultron?ÿ,635.0,141.0,10.0,19000.0,26000.0,458991599.0,462669.0,92000.0,4.0,1117.0,250000000.0,2015.0,21000.0,7.5,NaN
8,Avengers: Age of Ultron?ÿ,635.0,141.0,10.0,19000.0,26000.0,458991599.0,462669.0,92000.0,4.0,1117.0,250000000.0,2015.0,21000.0,7.5,2015.0
9,Harry Potter and the Half-Blood Prince?ÿ,375.0,153.0,282.0,10000.0,25000.0,301956980.0,321795.0,58753.0,3.0,973.0,250000000.0,2009.0,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice?ÿ,673.0,183.0,NaN,2000.0,15000.0,330249062.0,NaN,24450.0,NaN,3018.0,250000000.0,2016.0,NaN,6.9,2016.0
11,Superman Returns?ÿ,434.0,169.0,NaN,903.0,18000.0,200069408.0,240396.0,NaN,2.0,2367.0,209000000.0,2006.0,10000.0,6.1,NaN
12,Quantum of Solace?ÿ,403.0,106.0,395.0,393.0,451.0,168368427.0,330784.0,2023.0,1.0,1243.0,200000000.0,2008.0,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313.0,151.0,563.0,1000.0,40000.0,423032628.0,522040.0,48486.0,2.0,1832.0,225000000.0,2006.0,5000.0,7.3,2008.0

En esta parte importamos la base de datos y vemos la tabla con los datos

In [26]:
df.shape

(14, 16)

In [30]:
df.dtypes

movie_title                   object
num_critic_for_reviews       float64
duration                     float64
DIRECTOR_facebook_likes      float64
actor_3_facebook_likes       float64
ACTOR_1_facebook_likes       float64
gross                        float64
num_voted_users              float64
Cast_Total_facebook_likes    float64
facenumber_in_poster         float64
num_user_for_reviews         float64
budget                       float64
title_year                   float64
ACTOR_2_facebook_likes       float64
imdb_score                   float64
title_year.1                 float64
dtype: object

In [32]:
df.movie_title.dtypes

dtype('O')

In [29]:
df.duration.dtypes

dtype('float64')

In [36]:
df.isnull()
#data_frame.drop("",axis=1) sirve para eliminar una columna

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,True
4,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
5,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
6,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,True
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
10,False,False,False,True,False,False,False,True,False,True,False,False,False,True,False,False
11,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,True
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [37]:
df.isnull().any()

movie_title                  False
num_critic_for_reviews        True
duration                      True
DIRECTOR_facebook_likes       True
actor_3_facebook_likes        True
ACTOR_1_facebook_likes        True
gross                         True
num_voted_users               True
Cast_Total_facebook_likes     True
facenumber_in_poster          True
num_user_for_reviews          True
budget                        True
title_year                    True
ACTOR_2_facebook_likes        True
imdb_score                    True
title_year.1                  True
dtype: bool

In [35]:
df.isnull().sum()

movie_title                  0
num_critic_for_reviews       1
duration                     4
DIRECTOR_facebook_likes      3
actor_3_facebook_likes       1
ACTOR_1_facebook_likes       1
gross                        1
num_voted_users              2
Cast_Total_facebook_likes    3
facenumber_in_poster         6
num_user_for_reviews         1
budget                       1
title_year                   1
ACTOR_2_facebook_likes       2
imdb_score                   1
title_year.1                 7
dtype: int64

En estos bloques vemos la descripción general de la base de datos:
- El tamaño de la base de datos, las columnas y filas
- Los tipos de datos que hay
- Las columnas que tienen valores nulos
- La cantidad de valores nulos por columna

In [38]:
df
#df.movie_title.unique
#df=df.replace('\*',¨,regex=True).astype(float)

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723.0,178.0,10.0,855.0,1000.0,760505847.0,886204.0,4834.0,NaN,3054.0,237000000.0,2009.0,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302.0,NaN,563.0,1000.0,40000.0,309404152.0,471220.0,48350.0,NaN,1238.0,300000000.0,2007.0,5000.0,7.1,NaN
2,Spectre?ÿ,602.0,148.0,20.0,161.0,11000.0,200074175.0,275868.0,11700.0,1.0,994.0,245000000.0,2015.0,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813.0,NaN,22000.0,23000.0,27000.0,448130642.0,1144337.0,106759.0,NaN,2701.0,250000000.0,2012.0,23000.0,8.5,NaN
4,"John Carter?ÿ,462,132,""""""475"""""",530,640,730586...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Spider-Man 3?ÿ,392.0,156.0,23.0,4000.0,24000.0,336530303.0,383056.0,46055.0,NaN,1902.0,258000000.0,2007.0,11000.0,6.2,2007.0
6,Tangled?ÿ,324.0,NaN,15.0,284.0,799.0,200807262.0,294810.0,NaN,1.0,387.0,260000000.0,2010.0,553.0,7.8,NaN
7,Avengers: Age of Ultron?ÿ,635.0,141.0,10.0,19000.0,26000.0,458991599.0,462669.0,92000.0,4.0,1117.0,250000000.0,2015.0,21000.0,7.5,NaN
8,Avengers: Age of Ultron?ÿ,635.0,141.0,10.0,19000.0,26000.0,458991599.0,462669.0,92000.0,4.0,1117.0,250000000.0,2015.0,21000.0,7.5,2015.0
9,Harry Potter and the Half-Blood Prince?ÿ,375.0,153.0,282.0,10000.0,25000.0,301956980.0,321795.0,58753.0,3.0,973.0,250000000.0,2009.0,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice?ÿ,673.0,183.0,NaN,2000.0,15000.0,330249062.0,NaN,24450.0,NaN,3018.0,250000000.0,2016.0,NaN,6.9,2016.0
11,Superman Returns?ÿ,434.0,169.0,NaN,903.0,18000.0,200069408.0,240396.0,NaN,2.0,2367.0,209000000.0,2006.0,10000.0,6.1,NaN
12,Quantum of Solace?ÿ,403.0,106.0,395.0,393.0,451.0,168368427.0,330784.0,2023.0,1.0,1243.0,200000000.0,2008.0,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313.0,151.0,563.0,1000.0,40000.0,423032628.0,522040.0,48486.0,2.0,1832.0,225000000.0,2006.0,5000.0,7.3,2008.0

In [70]:
#df1=df.rename(columns = {'imdb_score':'imdb', 'movie_title':'Película'})
#df1
df2=df.rename(columns = {'budget':'Costo', 'movie_title':'Película', 'imdb_score':'Calificacion'})
df2

,Película,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,Costo,title_year,ACTOR_2_facebook_likes,Calificacion,title_year.1
0,Avatar?ÿ,723.0,178.0,10.0,855.0,1000.0,760505847.0,886204.0,4834.0,NaN,3054.0,237000000.0,2009.0,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302.0,NaN,563.0,1000.0,40000.0,309404152.0,471220.0,48350.0,NaN,1238.0,300000000.0,2007.0,5000.0,7.1,NaN
2,Spectre?ÿ,602.0,148.0,20.0,161.0,11000.0,200074175.0,275868.0,11700.0,1.0,994.0,245000000.0,2015.0,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813.0,NaN,22000.0,23000.0,27000.0,448130642.0,1144337.0,106759.0,NaN,2701.0,250000000.0,2012.0,23000.0,8.5,NaN
4,"John Carter?ÿ,462,132,""""""475"""""",530,640,730586...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Spider-Man 3?ÿ,392.0,156.0,23.0,4000.0,24000.0,336530303.0,383056.0,46055.0,NaN,1902.0,258000000.0,2007.0,11000.0,6.2,2007.0
6,Tangled?ÿ,324.0,NaN,15.0,284.0,799.0,200807262.0,294810.0,NaN,1.0,387.0,260000000.0,2010.0,553.0,7.8,NaN
7,Avengers: Age of Ultron?ÿ,635.0,141.0,10.0,19000.0,26000.0,458991599.0,462669.0,92000.0,4.0,1117.0,250000000.0,2015.0,21000.0,7.5,NaN
8,Avengers: Age of Ultron?ÿ,635.0,141.0,10.0,19000.0,26000.0,458991599.0,462669.0,92000.0,4.0,1117.0,250000000.0,2015.0,21000.0,7.5,2015.0
9,Harry Potter and the Half-Blood Prince?ÿ,375.0,153.0,282.0,10000.0,25000.0,301956980.0,321795.0,58753.0,3.0,973.0,250000000.0,2009.0,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice?ÿ,673.0,183.0,NaN,2000.0,15000.0,330249062.0,NaN,24450.0,NaN,3018.0,250000000.0,2016.0,NaN,6.9,2016.0
11,Superman Returns?ÿ,434.0,169.0,NaN,903.0,18000.0,200069408.0,240396.0,NaN,2.0,2367.0,209000000.0,2006.0,10000.0,6.1,NaN
12,Quantum of Solace?ÿ,403.0,106.0,395.0,393.0,451.0,168368427.0,330784.0,2023.0,1.0,1243.0,200000000.0,2008.0,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313.0,151.0,563.0,1000.0,40000.0,423032628.0,522040.0,48486.0,2.0,1832.0,225000000.0,2006.0,5000.0,7.3,2008.0

En este bloque cambiamos el nombre de las columnas que vamos a utilizar

In [71]:
dfn=df2.drop({'duration','num_critic_for_reviews', 'DIRECTOR_facebook_likes','actor_3_facebook_likes','ACTOR_1_facebook_likes','gross','num_voted_users','facenumber_in_poster','Cast_Total_facebook_likes','num_user_for_reviews','title_year','ACTOR_2_facebook_likes','title_year.1'},axis=1)
dfn

,Película,Costo,Calificacion
0,Avatar?ÿ,237000000.0,7.9
1,Pirates of the Caribbean: At World's End?ÿ,300000000.0,7.1
2,Spectre?ÿ,245000000.0,6.8
3,The Dark Knight Rises?ÿ,250000000.0,8.5
4,"John Carter?ÿ,462,132,""""""475"""""",530,640,730586...",NaN,NaN
5,Spider-Man 3?ÿ,258000000.0,6.2
6,Tangled?ÿ,260000000.0,7.8
7,Avengers: Age of Ultron?ÿ,250000000.0,7.5
8,Avengers: Age of Ultron?ÿ,250000000.0,7.5
9,Harry Potter and the Half-Blood Prince?ÿ,250000000.0,7.5
10,Batman v Superman: Dawn of Justice?ÿ,250000000.0,6.9
11,Superman Returns?ÿ,209000000.0,6.1
12,Quantum of Solace?ÿ,200000000.0,6.7
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,225000000.0,7.3